* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f7f6;
    color: #333;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #007BFF;
}

h2 {
    color: #007BFF;
}

h2 a {
    text-decoration: none;
    color: #007BFF;
    transition: color 0.3s;
}

h2 a:hover {
    color: #0056b3;
}

h3 {
    color: #007BFF;
}

h3 a {
    text-decoration: none;
    color: #007BFF;
    transition: color 0.3s;
}

h3 a:hover {
    color: #0056b3;
}

h4 {
    color: #007BFF;
}

h4 a {
    text-decoration: none;
    color: #007BFF;
    transition: color 0.3s;
}

h4 a:hover {
    color: #0056b3;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    margin: 10px 0;
}

.section {
    margin: 20px 0;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.back-link {
    margin-bottom: 20px;
    display: block;
    font-size: 16px;
    color: #007BFF;
}

.footer {
    text-align: center;
    margin-top: 40px;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border-radius: 8px;
}

.content {
    max-width: 800px;
    margin: auto;
}

.resources-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    margin-top: 10px;
}

.resource-item {
    text-align: center;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.resource-item:hover {
    transform: scale(1.05);
}

.thumbnail {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.resource-item a {
    text-decoration: none;
    color: #1e90ff;
    font-weight: 500;
}

iframe {
    border: none;
    border-radius: 8px;
}

.resource-container {
    text-align: center;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin: 20px auto;
}

.resource-container a {
    display: block;
    margin-top: 10px;
    color: #1e90ff;
    font-weight: 500;
    text-decoration: none;
}

.resource-container a:hover {
    color: #0056b3;
}